
.mySlides{
	display: none;
}
#hexagon { 
	width: 66%;
	height: 104%;
	background: #222;
	position: relative;
  z-index:-1;
  margin:0 auto;
}
#hexagon:before {
	content: "";
	left:-66%;
	display:block;
  position: relative;
border-right: 30% solid #222;
border-top: 52% solid transparent;
border-bottom: 52% solid transparent;
}
#hexagon:after {
	content: "";
  right:-66%;
  top:-104%;
  position: relative;
  display:block;
border-left: 30% solid #222;
border-top: 52% solid transparent;
border-bottom: 52% solid transparent;
}
.hex-over {
  z-index:5;
  position:relative;
  width:100%;
  top:-100px;
  text-align:center;
  color:#fdfdfd;
  font-size:60px;
  padding:5px 0px 0px 0px;
  font-weight:bold;
  letter-spacing:2px;
}
  

/*
.flip-container {
  position: absolute;
  perspective: 1000;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container,
.flip-container .front,
.flip-container .back {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
	 border-radius: 100px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.flip-container .flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.flip-container .flipper .front,
.flip-container .flipper .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.flip-container .flipper .front {
  z-index: 2;
  transform: rotateY(0deg);
}
.flip-container .flipper .back {transform: rotateY(180deg);
}*/
